:root{
    --text1: 3rem;
    --text2: 2rem;
    --text3: 1.2rem;
}

body{
    background-color: #edefee;
    margin: 3rem 5%;
}

header img{
    display: block;
    margin: auto;
    max-width: 35%;
}

h1{
    font-size: var(--text1);
    font-weight: bold;
}

h2{
    font-size: var(--text2);
}

nav{
    background-color: black;
    border-radius: 20px;
    margin: 2.5rem 0;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

nav li{
    font-size: var(--text2);
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

nav li:hover{
    background-color: rgb(85, 83, 83);
}

#home-nav{
    color: #99e0ff;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.promotion-section{
    background-image: linear-gradient(#0d141e, #0a121f, #050c12), url("../images/jw.jpg");
    color: white;
    border-radius: 20px;
    background-size: 60% 100%;
    background-repeat: no-repeat,repeat;
    background-color: #040b11;
    transition: 0.5s;
}

.promotion-section article{
    padding-left: 1rem;
}

.promotion-section p {
    font-size: var(--text3);
    width: 72%;
    font-weight: bolder;
}

.promotion-section:hover h1{
    margin-bottom: 5rem;
}

.promotion-section:hover p{
    line-height: 1.5;
}


.info-section{
    display: flex;
    justify-content: space-between;
}

.info-section .info-article{
    max-width: 27%;
    background-color: #000;
    color: white;
    padding: 0 1.3rem;
    border-radius: 20px;
    box-shadow: 9px 8px 8px 2px #535353;
    transition: 0.5s;
}

.info-section .info-article:hover{
    box-shadow: 4px 4px 4px #535353;
}

.info-section .p-info{
    line-height: 1.3;
}

.info-article a{
    color: rgb(153, 224, 255);
    display: block;
    margin-bottom: 1rem;
}

.info-section img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.about-section , .contact-section{
    background-color: #000;
    color: white;
    padding: 3rem;
    display: none;
}

.about-section h1 , .contact-section h1  {
    margin-bottom: 4.06rem ;
}

.about-section p , .contact-section p{
    font-size: var(--text2);
}

.contact-flex-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-flex-div .contact-info{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-section .icon-info-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #edefee;
    color: black;
    cursor: pointer;
    border-radius: 20px;
}

.contact-section p {
    padding: 0 4rem;
    margin: 0.5rem 0;
}

.contact-section .icon {
    padding-left: 1rem
}




.products-section{
    display: none;
    color: white;
}

.products-section p{
    margin: 0;
    width: fit-content;
}

.filter-dropdown p,.filter-box p{
    font-size: var(--text2);
}

.filter-dropdown{
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.filter-box{
    background-color: black;
    gap: 1.5rem;
    width: fit-content;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    display: none;
}

.filter-box fieldset{
    border: 0;
}

fieldset p{
    padding-bottom: 0.5rem;
}

.checkboxes ,.radio-btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.products-section label{
    font-size: var(--text3);
}

.products{
    display: grid;
    grid-template-areas: 'myArea myArea myArea';
    justify-content: space-between;
    gap: 2rem;
}

.card{
    width: fit-content;
    background-color: #0C101F;
    color: white;
    padding: 1rem;
}

.product-price{
    font-size: var(--text2);
    padding-top: 1rem;
}



footer{
    display: flex;
    margin-top: 2.5rem;
}

footer div{
    flex: 1;
    display: flex;
}

footer .copyright{
    justify-content: end;
    border-top: solid 1px;
}

footer .copyright p{
    margin-top: 0;
}

footer img{
    width: 20rem;
}